nav {
    background-color: rgba(38, 38, 38, .60);
    height: 9%;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 2em;
    z-index: 2;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.shrink {
    height: 35px;
    padding-top: .5em;
  }

.navigationBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigationBox a {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: .2em;
    color:#f2f2f2;
    font-size: 1em;
    display: block;
    transition: all 1s ease;
}

a:hover{
    color: #e67300;
}

.landingSection {
    @include darkenBackgroundLight('http://res.cloudinary.com/dtk6tcnmm/image/upload/v1506211752/dawid-zawila-275831_i8rclt.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45em;
}

.landingText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #f2f2f2;
    text-align: center;
    padding-top: 30%;
    h1 {
        font-size: 3em;
    }
}
